---
BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 2
IncludeCategories:
  - Regex: ^<test_project\/.*\.h(pp)?>
    Priority: 0
    SortPriority: 0
    CaseSensitive: false
  - Regex: ^<.*\.h(pp)?>
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
  - Regex: ^<.*
    Priority: 2
    SortPriority: 0
    CaseSensitive: false
  - Regex: .*
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
